$--font-path: '~element-ui/lib/theme-chalk/fonts';

/*
$--color-primary: $clr-blue;
$--color-primary-light-1: $clr-blue-900;
$--color-primary-light-2: $clr-blue-800;
$--color-primary-light-3: $clr-blue-700;
$--color-primary-light-4: $clr-blue-600;
$--color-primary-light-5: $clr-blue-400;
$--color-primary-light-6: $clr-blue-300;
$--color-primary-light-7: $clr-blue-200;
$--color-primary-light-8: $clr-blue-100;
$--color-primary-light-9: $clr-blue-50;

$--color-warning: $clr-amber-800;
$--color-warning-light: $clr-amber-600;
$--color-warning-lighter: $clr-amber-400;

$--color-info: $clr-blue-grey-200;
$--color-info-light: $clr-blue-grey-100;
$--color-info-lighter: $clr-blue-grey-50;

$--color-danger: $clr-red-600;
$--color-danger-light: $clr-red-400;
$--color-danger-lighter: $clr-red-300;

$--color-success: $clr-teal-600;
$--color-success-light: $clr-teal-400;
$--color-success-lighter: $clr-teal-200;

$--table-border-color: $clr-grey-300;
*/
@import "~element-ui/packages/theme-chalk/src/index";
